netsh interface ip set address "{{ device }}" static "{{ inventory_hostname  }}" "{{ netmask }}" "{{ gateway }}"
netsh interface ip set dns name="{{ device }}" static "{{ nameserver }}"
Restart-Computer -Force -Confirm:$false